<!DOCTYPE html>
<html ng-app="hackdate">

  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/selectize.css" />
    <link rel="stylesheet" href="/css/selectize.bootstrap3.css" />
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.min.css" />
  </head>

  <body ng-controller="MainCtrl">
    <div class="container">
      <h1>Welcome {{user.email}}</h1>
      <a ng-hide="user" ui-sref="hackdate.register">Register</a> |
      <a ng-hide="user" ui-sref="hackdate.login">Login</a> |
      <a ng-show="user" ui-sref="hackdate.logout">Logout</a> |
      <a ui-sref="hackdate.profile">Profile</a> |
      <a ui-sref="hackdate.filters.interests">Your Interests</a> |
      <a ui-sref="hackdate.filters.interested">Interested in You</a> |
      <a ui-sref="hackdate.filters.hook_ups">Your HookUps</a> |
      <a ui-sref="hackdate.messages">Messages</a>
      <div ui-view></div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <link data-require="bootstrap@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="3.0.0" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
    <script data-require="angular.js@1.2.0-rc2" data-semver="1.2.0-rc2" src="http://code.angularjs.org/1.2.0-rc.2/angular.js"></script>
    <script data-require="angular-route@1.2.0-rc2" data-semver="1.2.0-rc2" src="http://code.angularjs.org/1.2.0-rc.2/angular-route.js"></script>
    <script data-require="angular-resource@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular-resource.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
    <script data-require="ui-bootstrap@0.6.0" data-semver="0.6.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.min.js"></script>

    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/angular-strap.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
    
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4MUQERWy6TZY4I143-Ck7PMscsPnQ9lo&sensor=true"></script>
    
    <script src="/js/selectize.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/script.js"></script>
  </body>

</html>

