<div class="well">
  <h2>Intention:</h2>
  <label class="radio-inline">
    <input type="radio" name="intentionRadios" value="Relationship" ng-model="filters.intention"> Relationship
  </label>
  <label class="radio-inline">
    <input type="radio" name="intentionRadios" value="Friendship" ng-model="filters.intention"> Friendship
  </label>
  <label class="radio-inline">
    <input type="radio" name="intentionRadios" value="Business Partner" ng-model="filters.intention"> Business Partner
  </label>
</div>
<div class="well">
  <h2>Channels:</h2>
  <ul>
    <li ng-repeat="channel in channels | filter:{intention: filters.intention}" ng-click="select(channel)" ng-class="{'selected': channelSelect[channel.key]}">{{channel.title}}</li>
</div>
<div class="well">
  <div ng-cloak ng-repeat="message in messages">
    <em>{{message.from}}: </em>{{message.content}}
  </div><br/>
  <form class="form-inline" ng-submit="addMessage()">
    <input type="text" ng-model="message" placeholder="Message...">
    <button class="btn" type="submit">
      <i class="icon-reply"> Send</i>
    </button>
  </form>
</div>
