<h3>Profile</h3>
<form novalidate role="form" class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-2 control-label" for="profileEmail">Email:</label>
    <div class="col-lg-10">
      <input type="email" class="form-control" id="profileEmail" placeholder="Enter email" ng-model="profile.email" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label" for="profileName">Name:</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" id="profileName" placeholder="First name" ng-model="profile.first_name" />
    </div>
    <div class="col-lg-5">
      <input type="text" class="form-control" id="profileName" placeholder="Last name" ng-model="profile.last_name" />
    </div>
  </div>
  <button class="btn btn-default" ng-click="reset()">Reset Me</button>
  <button class="btn btn-default" ng-click="update(profile)">SAVE</button>
</form>
